/* JavaScript Fixes */

.no-js .sc-nojs-message {
	margin:10px 0;
	padding:10px 0;
	display: block;
	border-top:1px solid #DFDFDF;
	border-bottom:1px solid #DFDFDF;
}

.no-js .sc-mockingbird-filter-btns,
.no-js .sc-mockingbird-filter-selects,
.no-js .sc-mockingbird-container,
.sc-nojs-message {
	display:none;
}

/* Mockingbird Widget Styling */

ul.sc-mockingbird-container {
	border-top:1px solid #DFDFDF;
	padding-top:12px;
}

ul.sc-mockingbird-container li.button,
ul.sc-mockingbird-container li.button:hover {
	height:auto;
	line-height: 2.4em;
	display: block;
	margin-bottom: 6px;
	position: relative;
	cursor: move;
	border-color:#BBBBBB;
	background: #ffffff;
    background: -moz-linear-gradient(top,  #F9F9F9 0%, #dfdfdf 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F9F9F9), color-stop(100%,#dfdfdf));
    background: -webkit-linear-gradient(top,  #F9F9F9 0%,#dfdfdf 100%);
    background: -o-linear-gradient(top,  #F9F9F9 0%,#dfdfdf 100%);
    background: -ms-linear-gradient(top,  #F9F9F9 0%,#dfdfdf 100%);
    background: linear-gradient(to bottom,  #F9F9F9 0%,#dfdfdf 100%);
}

ul.sc-mockingbird-container li.button input{
	margin: 0 0 0 -5px;
	width: 80%;
}

ul.sc-mockingbird-container li.button .sc-mockingbird-label {
	cursor: pointer;
/*	display: block;
	max-width: 90%;
	overflow: hidden;*/
}

ul.sc-mockingbird-container .button span.remove{
	position: absolute;
	top:0;
	right:0;
	background: transparent url('../images/icon_cross.png') center center no-repeat;
	width:14px;
	height: 100%;
	right:8px;
	display: inline-block;
	cursor: pointer;
	opacity: 0.4;
}

/* Filter Tabs */

ul.sc-mockingbird-filter-btns {
	margin:0;
}

ul.sc-mockingbird-filter-btns li {
	display: inline-block;
	padding:0 10px;
	line-height: 2em;
    background: #F4F4F4;
    border:1px solid #DFDFDF;
    border-bottom:none;
    border-radius:3px 3px 0 0;
    cursor:pointer;
    margin:0 0 0 0;
}

ul.sc-mockingbird-filter-btns li.active {
	background:#fff;
	border-bottom:1px solid #fff;
	margin-bottom: -1px;
}

.sc-mockingbird-filter-select {
	margin:0;
	background: #ffffff;
	border:1px solid #DFDFDF;
	border-radius: 0 3px 3px 3px;
	padding:10px;
}

.sc-mockingbird-filter-select > div {
	position: relative;
}

.sc-mockingbird-selectbox option {
	padding:4px;
}

.sc-mockingbird-selectbox option[disabled=""], .sc-mockingbird-selectbox option[disabled=disabled]{
	text-decoration: line-through;
}

/*.sc-loading-image {
	display: none;
	position: absolute;
	top:4px;
	right:25px;
	width:16px;
	height:16px;
}*/

.sc-loading-image {
	display: none;
	position: absolute;
	top:4px;
	right:26px;
	width:19px;
	height:19px;
	background: transparent url('../images/icon_loading.gif') top left no-repeat;
}

.sc_mockingbird_input {
	width:298px;
}

/* Responsive Optimisation */
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {

	.sc-loading-image {
		background-image: url('../images/icon_loading2x.gif');
		background-size: 100% 100%;
	}

}